*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccaf7fc5;
    color: black;
}

.header {
    background-color: #425267;
    /* text-align: center; */
    padding: 25px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 70px;
    height: 70px;
}

.image {
    width: 100%;
   
}

.jobs{
    margin: 35px;
    padding: 10px;
    border: solid 10px white;
    width: 70%;
    position: relative;
    left: 150px;
}

.form{
    text-align: center;
    background-color: #425267;
    background-size: cover;
    padding: 20px;
    color: #EA5D2C;
   
}


.Btn {
    padding: 7px;
    cursor: pointer;
    background-color: #eb8968c9;
    transition: .3s ease-in-out;
    border: none;
    border-radius: 5px;
    color: white;
}

.Btn:hover {
    padding: 9px;
    cursor: pointer;
    background-color: #EA5D2C;
   border: none;
}

.footer {
    background-color: rgba(0, 0, 0, 0.732);
    color: white;
    padding: 50px;
    text-align: center;
}